body {
    display: flex;
    flex-direction: column;  
    align-items: center;    
}

.board-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 250px;
    width: 250px;
    padding: 1em;
}

.inputs {
    display: flex;
    padding: 1em;
    gap: 1em;
}

.cell {
    border: 1px solid black;
    font-size: 2em;
    text-align: center;
    align-content: center;
}

button {
    padding: 0.2em 1em;
    margin: 1em;
}